* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    width: 100vw;
    height: 210vh;
    background-image: linear-gradient(to bottom, #3f0be8, #3140f0, #325df4, #4476f4, #5e8cf0, #569ef5, #5aaff8, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


.title {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 600px;
   
}

.teste {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 50px;
}


.card-body a {
    text-decoration: none;
}

.name {
    font-size: 20px;
    margin-top: 20px;
}